<div class="news">
  <div class='btn-admin' *ngIf="btnAdmin">
      <button type="button" class="btn btn-default pull-right" (click)="delete(news.id)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>    
      </button>

      <button type="button" class="btn btn-default pull-right" routerLink="/tuto/{{news.id}}/edit">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>    
      </button>
  </div>

  <span class='title' *ngIf="link">
    <a routerLink="/tuto/{{news.id }}" >{{ news.title }}</a>
  </span>
  
  <span class='title' *ngIf="!link">
    {{ news.title }}
  </span>

  <span class='date'>{{ news.updated_at | date: "dd/MM/yy"}}</span>
  
  <div *ngIf="commentCount !== null" style='display: inline; margin-left: 15px;'>
    {{ commentCount }}
    <span class="glyphicon glyphicon-comment"></span>
  </div>

  <span class='content' [innerHTML]="news.content"></span>


</div>